.grid-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.footer {
  margin-top: 80px;
}

.grid-subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;

  align-self: center;
  /* border: solid red; */
}
.image-container {
  height: 300px;
  width: 300px;
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.animation-container {
  /* height: 300px;
  width: 300px; */
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.gif {
  height: auto;
  width: 337.5px;
}

.lightboximg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* margin: 0px; */
  /* flex: 1 auto; */
}

.img1 {
  background-image: url(images/digital_2d/IMG_5706.JPG);
}
.img2 {
  background-image: url(images/digital_2d/IMG_5374.JPG);
}
.img3 {
  background-image: url(images/digital_2d/IMG_5631_3.jpg);
}
.img4 {
  background-image: url(images/digital_2d/IMG_5603.JPG);
}
.img5 {
  background-image: url(images/digital_2d/7F4B96B4-D97E-412B-A613-AD1C8200A606.jpg);
}
.img6 {
  background-image: url(images/digital_2d/7C1B7988-48DF-4E00-8258-5CFCCA8C14EB.jpg);
}
.img7 {
  background-image: url(images/digital_2d/IMG_4329.JPG);
}
.img8 {
  background-image: url(images/digital_2d/IMG_5245.JPG);
}
.img9 {
  background-image: url(images/digital_2d/IMG_5217.JPG);
}
.img10 {
  background-image: url(images/digital_2d/IMG_4515.JPG);
}
.img11 {
  background-image: url(images/digital_2d/IMG_5444.JPG);
}
.img12 {
  background-image: url(images/digital_2d/IMG_4449.JPG);
}
.img13 {
  background-image: url(images/digital_2d/IMG_4262.JPG);
}
.img14 {
  background-image: url(images/digital_2d/IMG_4144.JPG);
}
.img15 {
  background-image: url(images/digital_2d/IMG_3849.JPG);
}
.img16 {
  background-image: url(images/digital_2d/IMG_4790.JPG);
}
.img17 {
  background-image: url(images/digital_2d/IMG_4116.JPG);
}
.img18 {
  background-image: url(images/digital_2d/IMG_4548.JPG);
}
.img19 {
  background-image: url(images/digital_2d/IMG_3851.JPG);
}
.img20 {
  background-image: url(images/digital_2d/IMG_5059.JPG);
}
.img21 {
  background-image: url(images/digital_2d/IMG_5208.JPG);
}
.img22 {
  background-image: url(images/digital_2d/IMG_3660.JPG);
}
.img23 {
  background-image: url(images/digital_2d/2134E0AD-FEFA-435F-A82A-3B6D99806EF9.jpg);
}
.img24 {
  background-image: url(images/digital_2d/E359EA0D-40EC-49D6-926A-411C23942B54.jpg);
}
.img25 {
  background-image: url(images/digital_2d/IMG_5387.JPG);
}
.img26 {
  background-image: url(images/digital_2d/E474AFFF-6D1B-498C-B057-98098DD7886A.jpg);
}
.img27 {
  background-image: url(images/digital_2d/IMG_5585.JPG);
}
.img28 {
  background-image: url(images/digital_2d/IMG_5332.JPG);
}
.img29 {
  background-image: url(images/digital_2d/IMG_5525.JPG);
}
.img30 {
  background-image: url(images/digital_2d/IMG_5470.JPG);
}
.img31 {
  background-image: url(images/digital_2d/IMG_5557.JPG);
}
.img32 {
  background-image: url(images/digital_2d/IMG_5352.JPG);
}
.img33 {
  background-image: url(images/digital_2d/IMG_5378.JPG);
}
.img34 {
  background-image: url(images/digital_2d/IMG_5305.JPG);
}
.img35 {
  background-image: url(images/digital_2d/70B8C532-53AE-47D7-BC05-5BFD05D8F00D.JPG);
}
.img36 {
  background-image: url(images/digital_2d/IMG_5367.JPG);
}
.img37 {
  background-image: url(images/digital_2d/IMG_5031.JPG);
}
.img38 {
  background-image: url(images/digital_2d/Bodybag.jpg);
}
.img39 {
  background-image: url(images/digital_2d/Goat.jpg);
}
.img40 {
  background-image: url(images/digital_2d/IMG_2858.JPG);
}
.img41 {
  background-image: url(images/digital_2d/IMG_2842.JPG);
}
.img42 {
  background-image: url(images/digital_2d/Clown_j_Addons.png);
}
.img43 {
  background-image: url(images/digital_2d/IMG_4243.JPG);
}
.img44 {
  background-image: url(images/digital_2d/24722383-C0A5-4E1E-A9BF-D9EA69A4632F.jpg);
}
.img45 {
  background-image: url(images/digital_2d/IMG_4111.JPG);
}
.img46 {
  background-image: url(images/digital_2d/IMG_3827.JPG);
}
.img47 {
  background-image: url(images/digital_2d/IMG_3773.JPG);
}
.img48 {
  background-image: url(images/digital_2d/B1F25124-F267-48BF-A137-223F1C689EC5.jpg);
}
.img49 {
  background-image: url(images/digital_2d/IMG_3599.JPG);
}
.img50 {
  background-image: url(images/digital_2d/A012F2A6-F933-44AF-96A3-818CD930FA3F.jpg);
}
.img51 {
  background-image: url(images/digital_2d/C97393A4-B451-450D-BA29-EAE2801F9348.jpg);
}
.img52 {
  background-image: url(images/digital_2d/IMG_3407.JPG);
}
.img53 {
  background-image: url(images/digital_2d/IMG_3306.JPG);
}
.img54 {
  background-image: url(images/digital_2d/AC59B240-D7DB-43C5-902D-FB7A10F459E7.jpg);
}
.img55 {
  background-image: url(images/digital_2d/Photo_2021-11-27.jpg);
}
.img56 {
  background-image: url(images/digital_2d/D6A82110-BFE2-47C1-A8C4-AB1F58CF000A.jpg);
}
.img57 {
  background-image: url(images/digital_2d/IMG_2530.JPG);
}
.img58 {
  background-image: url(images/digital_2d/0D292FBE-EC96-4D56-95F5-FEE62D9D92D6.jpg);
}
.img59 {
  background-image: url(images/digital_2d/IMG_2556.JPG);
}
.img60 {
  background-image: url(images/digital_2d/IMG_2936.JPG);
}
.img61 {
  background-image: url(images/digital_2d/93B7D8A5-5BAD-4D88-BAB8-D2E09A20CA33.jpg);
}
.img62 {
  background-image: url(images/digital_2d/D11A4FF1-C895-420E-AAF7-C6DEEB2ABA16.jpg);
}
.img63 {
  background-image: url(images/digital_2d/IMG_2981.JPG);
}
.img64 {
  background-image: url(images/digital_2d/IMG_2515.JPG);
}
.img65 {
  background-image: url(images/digital_2d/4433B136-2E57-4AE2-920A-DD90CD3EC47A.jpg);
}
.img66 {
  background-image: url(images/digital_2d/60ADEE8E-EE2E-4234-A5AF-345B6A0A8D3D.jpg);
}
.img67 {
  background-image: url(images/digital_2d/IMG_2537.JPG);
}
.img68 {
  background-image: url(images/digital_2d/IMG_2763.JPG);
}
.img69 {
  background-image: url(images/digital_2d/B33FFE1C-21AE-4A0B-BB5C-F8DB892B1C4D.jpg);
}
.img70 {
  background-image: url(images/digital_2d/6C4D0401-0396-4574-B60A-A7693DEE34FF.jpg);
}
.img71 {
  background-image: url(images/digital_2d/Toilet_Time.png);
}

canvas {
  display: block;
}

.model-box {
  /* border: solid red; */
  height: 300px;
  width: 300px;
  flex: none;
}
