.grid-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.footer {
  margin-top: 80px;
}

.grid-subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;

  align-self: center;
  /* border: solid red; */
}
.image-container {
  height: 300px;
  width: 300px;
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.lightboximg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* margin: 0px; */
  /* flex: 1 auto; */
}

.img1 {
  background-image: url(images/traditional/IMG_7893.JPG);
}
.img2 {
  background-image: url(images/traditional/IMG_7924.JPG);
}
.img3 {
  background-image: url(images/traditional/IMG_7906.JPG);
}
.img4 {
  background-image: url(images/traditional/46E43BD1-D6BC-4D8A-B8C2-366072356185.jpg);
}
.img5 {
  background-image: url(images/traditional/169A5592-2F67-4483-A3B9-65F1A9B2449F.jpg);
}
.img6 {
  background-image: url(images/traditional/IMG_7909.JPG);
}
.img7 {
  background-image: url(images/traditional/IMG_7911.JPG);
}
.img8 {
  background-image: url(images/traditional/IMG_7907.JPG);
}
.img9 {
  background-image: url(images/traditional/IMG_7904.JPG);
}
.img10 {
  background-image: url(images/traditional/IMG_7910.JPG);
}
.img11 {
  background-image: url(images/traditional/IMG_7905.JPG);
}
.img12 {
  background-image: url(images/traditional/IMG_7908.JPG);
}
.img13 {
  background-image: url(images/traditional/IMG_7912.JPG);
}

canvas {
  display: block;
}

/* .model-box {
  border: solid red;
  height: 300px;
  width: 300px;
  flex: none;
} */
